node_modules
.env
.next
notes-00.txt
yarn-error.log
pages/index-orig.js
components/old-form-one.js
components/semi-form-one.js
data/pages/premiere-bu.json
static/favicon-new.ico
static/imgs/i-2.jpg
static/imgs/i-3.jpg
static/imgs/i-4.jpg
static/imgs/i-5.jpg
static/imgs/image.jpg
static/imgs/image2.jpg
